![panda](figures/panda.png)

 > **Pandas** is an open source Python library for data analysis.
- It gives Python the ability to work with numerical tables and time series for fast data loading, manipulating, aligning, merging, etc.
- The name is derived from 'panel data', an econometrics term for multidimensional structured datasets.

In [3]:
# pip install pandas
import pandas as pd
import numpy as np # for numerical computing

# Series and DataFrame

Pandas introduces two new data types to Python: **Series** and **DataFrame**

## Series

> A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its **index**

In [1]:
[1, 3, 4]

[1, 3, 4]

In [24]:
s_test = pd.Series([4, 7, -5, 3, 'string'])
2 * s_test

0               8
1              14
2             -10
3               6
4    stringstring
dtype: object

In [4]:
s = pd.Series([4, 7, -5, 3])
s

0    4
1    7
2   -5
3    3
dtype: int64

- The string representation of a Series displayed interactively shows the index on the
left and the values on the right.
- Since we did not specify an index for the data, a
default one consisting of the integers 0 through n-1 (where n is the length of the data)

In [5]:
s = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
s

a    4
b    7
c   -5
d    3
dtype: int64

In [6]:
s.values

array([ 4,  7, -5,  3])

In [7]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

### Selecting single or a set of values using index

In [8]:
s['b']

7

In [9]:
s[['c', 'a', 'b']]

c   -5
a    4
b    7
dtype: int64

In [10]:
s[2]

-5

In [11]:
s[1:3]

b    7
c   -5
dtype: int64

In [12]:
s[[1,3]]

b    7
d    3
dtype: int64

### Filtering

In [14]:
s

a    4
b    7
c   -5
d    3
dtype: int64

In [13]:
s > 0

a     True
b     True
c    False
d     True
dtype: bool

In [15]:
s[s > 0]

a    4
b    7
d    3
dtype: int64

### Math operation

In [16]:
s**2

a    16
b    49
c    25
d     9
dtype: int64

In [17]:
np.exp(s)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [25]:
s.mean()

2.25

In [27]:
#s_test.mean()

aligns by index label in arithmetic operations

In [28]:
s

a    4
b    7
c   -5
d    3
dtype: int64

In [29]:
s2 = pd.Series([1, 2, 3, 4], index = ['a', 'c', 'd', 'e'])
s2

a    1
c    2
d    3
e    4
dtype: int64

In [30]:
s + s2

a    5.0
b    NaN
c   -3.0
d    6.0
e    NaN
dtype: float64

**Note**: "NaN" stands for missing values in pandas

In [32]:
s.index = ['a', 'c', 'd', 'e']
s

a    4
c    7
d   -5
e    3
dtype: int64

In [33]:
s + s2

a    5
c    9
d   -2
e    7
dtype: int64

## More method for series

In [34]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [35]:
help(s.all)

Help on method all in module pandas.core.generic:

all(axis: 'Axis' = 0, bool_only=None, skipna: 'bool_t' = True, **kwargs) method of pandas.core.series.Series instance
    Return whether all elements are True, potentially over an axis.

    Returns True unless there at least one element within a series or
    along a Dataframe axis that is False or equivalent (e.g. zero or
    empty).

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns', None}, default 0
        Indicate which axis or axes should be reduced. For `Series` this parameter
        is unused and defaults to 0.

        * 0 / 'index' : reduce the index, return a Series whose index is the
          original column labels.
        * 1 / 'columns' : reduce the columns, return a Series whose index is the
          original index.
        * None : reduce all axes, return a scalar.

    bool_only : bool, default None
        Include only boolean columns. If None, will attempt to use everything,
        then use only boolean data. Not implemented for Series.
    skipna : bool, default True
        Exclude NA/null values. If the entire row/column is NA and skipna is
        True, then the result will be True, as for an empty row/column.
        If skipna is False, then NA are treated as True, because these are not
        equal to zero.
    **kwargs : any, default None
        Additional keywords have no effect but might be accepted for
        compatibility with NumPy.

    Returns
    -------
    scalar or Series
        If level is specified, then, Series is returned; otherwise, scalar
        is returned.

    See Also
    --------
    Series.all : Return True if all elements are True.
    DataFrame.any : Return True if one (or more) elements are True.

    Examples
    --------
    **Series**

    >>> pd.Series([True, True]).all()
    True
    >>> pd.Series([True, False]).all()
    False
    >>> pd.Series([], dtype="float64").all()
    True
    >>> pd.Series([np.nan]).all()
    True
    >>> pd.Series([np.nan]).all(skipna=False)
    True

    **DataFrames**

    Create a dataframe from a dictionary.

    >>> df = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})
    >>> df
       col1   col2
    0  True   True
    1  True  False

    Default behaviour checks if values in each column all return True.

    >>> df.all()
    col1     True
    col2    False
    dtype: bool

    Specify ``axis='columns'`` to check if values in each row all return True.

    >>> df.all(axis='columns')
    0     True
    1    False
    dtype: bool

    Or ``axis=None`` for whether every value is True.

    >>> df.all(axis=None)
    False

## DataFrame

> A DataFrame represents a rectangular table of data and contains an ordered collection
of columns.

* The DataFrame has both a row and column index.
* Since each column of a DataFrame is essentially a Series with its column index, it can be thought of as a dictionary of Series all sharing the same index.
<!-- * Each column (Series) has to be the same type, whereas, each row can contain mixed types. -->

### Creating DataFrame

#### from a dict of equal-length lists

In [44]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [45]:
d = pd.DataFrame(data)
d['pop']

0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
5    3.2
Name: pop, dtype: float64

#### from an DataFrame

In [46]:
d1 = pd.DataFrame()
d1

Empty DataFrame
Columns: []
Index: []

In [47]:
d1['state'] = ['Ohio', 'Nevada']
d1

    state
0    Ohio
1  Nevada

In [48]:
d1['year'] = [2001, 2001]
d1['pop'] = [1.7, 2.4]
d1

    state  year  pop
0    Ohio  2001  1.7
1  Nevada  2001  2.4

### select columns

In [ ]:
d

In [ ]:
d['state'] # return a Series

In [ ]:
type(d['state'])

In [ ]:
d[['state','pop']]

### select rows

In [ ]:
rows = np.arange(16).reshape((4, 4))
rows

In [ ]:
d2 = pd.DataFrame(rows,
                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
                  columns=['one', 'two', 'three', 'four'])
d2

In [ ]:
d2.loc['Ohio':"Utah"]

In [ ]:
d2.iloc[1:3]

### change row index and column name

In [ ]:
d2

In [ ]:
d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'})

In [ ]:
d2 # notice d2 is still the same

In [ ]:
d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'}, inplace=True) # set the inplace=True will change 
                                                                                 # original DataFrame.

In [ ]:
d2

In [ ]:
d3 = d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'}) # or assign to a new variable

In [ ]:
d3

### basics attributes and methods

In [ ]:
d2.index

In [ ]:
d2.columns

In [ ]:
d2.values

In [ ]:
d2.shape

In [ ]:
d2.mean() # column-wise mean, More on aggregation later.

### Alignment by index

In [ ]:
df3 = pd.DataFrame({'A':[1,2,3]},index=[1,2,3])
df3

In [ ]:
df4 = pd.DataFrame({'A':[1,2,3]},index=[3,1,2])
df4

In [ ]:

df3-df4

### add and delete rows and columns

In [ ]:
d2

In [ ]:
d2.drop(index = "Connecticut", columns="five") # add "inplace=True" will change the original DataFrame

In [ ]:
d2

In [ ]:
del d2['five'] # this will change d2 directly
d2

In [ ]:
d2['one'] = [1, 2, 3, 4] # add new column
d2

In [ ]:
d2.pop('one') # directly change the original DataFrame

In [ ]:
d2

### Common method

You can import dataset as well

#### csv file

In [ ]:
df = pd.read_csv("data/table.csv")

In [ ]:
df

#### txt file

In [ ]:
df_txt = pd.read_table("data/table.txt")
df_txt

In [ ]:
help(pd.read_table)

#### xlsx file

In [ ]:
pip install openpyxl

In [ ]:
df_excel = pd.read_excel('data/table.xlsx', sheet_name="Sheet1")

In [ ]:
df_excel

#### Head and Tail

These two methods show the first and the last a few records from a DataFrame, default is 5

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(3)

### unique and nunique

In [ ]:
df['Physics']

In [ ]:
df['Physics'].unique() # Shows only unique values

In [ ]:
df['Physics'].nunique() # len(df['Physics'].unique())

### count and value_counts

In [ ]:
df['School']

In [ ]:
df['School'].count() # Count of non missing values

In [ ]:
df['School'].value_counts()

In [ ]:
df['Physics'].value_counts()

### describe and and info

In [ ]:
df.info() # How many missing for each column and type of each column

In [ ]:
df.describe() # summary statistics for numeric type columns

In [ ]:
help(df.describe)

In [ ]:
df.describe(percentiles=[x/10 for x in list(range(1, 10, 1))])

In [ ]:
df['Physics'].describe()

### idxmax and nlargest

In [ ]:
df['Math'].idxmax() # return the index of the largest value

In [ ]:
df['Math'].idxmin() # return the index of the smallest value

In [ ]:
df['Math'].nlargest(3) # return the largest 3 values with their index (default is 5).

In [ ]:
df['Math'].nsmallest(3) # return the smallest 3 values with their index (default is 5).

### apply

In [ ]:
df[["Height", "Weight"]].apply(lambda x: x.mean())

In [ ]:
df.apply(lambda x:x.count(), axis=1) # 0 is column-wise and 1 is row-wise

### sort

In [ ]:
df.sort_values(by='Class')

In [ ]:
df.sort_values(by=['Address','Height'], ascending=True)